@using Core.Models
@model List<Product>
@{
    int count = 0;
}
<div class="container mb-5">
    <div class="row align-items-center">
        <h1 class="col-sm-6">Products</h1>
        <div class="col-sm-3"></div>
        <div class="col-sm-1 text-end">
            <a class="btn btn-primary" asp-action="Create">Create</a>
        </div>
    </div>
</div>


<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
               
                <th scope="col">Main Image</th>




            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    
                    <td>
                        <div style="width:100px">
                        <img width="100%" src="~/upload/Product/@item.MainImgUrl" />
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Update" asp-controller="Product" asp-route-id=@item.Id>Update</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id=@item.Id>Delete</a>
                        <a class="btn btn-info" asp-action="Detail" asp-controller="Product" asp-route-id=@item.Id>Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>